---
layout: default
---
<article class="recipe-collection container">

  <header class="post-header m-b-1">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    <div class="row">
      <div class="col-md-6">
        <div class="editable"></div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid editable" src="{{ page.image_path }}" alt="{{ page.title }}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="editable"></div>
      </div>
    </div>
  </div>
</article>