@import 'variables';
@import 'vendor/bootstrap';

@import '../_includes/atomic/atomic';

.page-home {
  background-color: #ddd;
}

.page-image {
  width: 50%;
  float: right;
}

.fout-buster {
    display: block !important;
}
